@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.mid-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: #333;
  left: 0;
  right: 0;
  height: 44px;
  width: 100%;
}

#search-results {
  height: 50vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100px;
}
#search-results p {
   color: #333;
}

